[submodule "hugo-PaperMod"]
	path = hugo-PaperMod
	url = git@github.com:aarontrowbridge/hugo-PaperMod.git
[submodule "themes/hugo-PaperMod"]
	path = themes/hugo-PaperMod
	url = git@github.com:aarontrowbridge/hugo-PaperMod.git
