---
layout: default
pagination:
  enabled: true
  collection: posts
  permalink: /page/:num/
  per_page: 5
  sort_field: date
  sort_reverse: true
  trail:
    before: 1 # The number of links before the current page
    after: 3  # The number of links after the current page
---

<div class="post">

  <div class="header-bar">
    <h1> { posts } </h1>
      {% assign tags = site.posts | all_tags %}
      {% for tag in tags %}
        {% assign tag_slug = tag['name'] | slugify: "raw" %}
          <a class="tag-link"
            href={{ site.baseurl | append: "/tags/" | append: tag_slug | append: "/" }}
            rel="category tag">
            <code>:{{ tag['name'] }} ({{ tag['count'] }})</code>
          </a>
      {% endfor %}
  </div>


  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <p class="post-meta">{{ post.date | date: '%B %-d, %Y' }}</p>
        <h2><a class="post-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
        <p>{{ post.description }}</p>
        {% for tag in post.tags %}
          {% assign tag_slug = tag | slugify: "raw" %}
            <a class="tag-link"
              href={{ site.baseurl | append: "/tags/" | append: tag_slug | append: "/" }}
              rel="category tag">
              <code>:{{ tag }}</code>
            </a>
        {% endfor %}
      </li>
    {% endfor %}
  </ul>

  {% include pagination.html %}

</div>
